@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button-3d {
    @apply shadow-3d transition-transform ease-in-out duration-200 p-1 rounded-full;
  }

  .button-3d:active {
    @apply shadow-3d-pressed transform translate-y-1;
  }
}

.a4-container {
  width: 794px;
  height: 1123px;
}

.a4-landscape-container {
  width: 1123px;
  height: 794px;
}

/* Print-specific dimensions */
@media print {
  .a4-container {
    width: 210mm;
    height: 297mm;
    page-break-after: always;
  }

  .a4-landscape-container {
    width: 297mm;
    height: 210mm;
    page-break-after: always;
  }
}